body {
  background-color: rgb(155, 29, 29);
  font-family: 'Assistant', sans-serif;
  color: #071C4D;
}

.navbar-brand img {
  max-height: 40px;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #071C4D;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #071C4D !important;
}

.btn-login {
  background-color: #071C4D;
  color: #fff;
}

.btn-login:hover {
  color: #fff;
}

header {
  margin-top: -68px;
  padding: 180px 0 165px;
  background-image: url("../images/header-background.jpg");
  background-size: cover;
}

header h1,
header p {
  color: #fff;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

header .btn-get-started {
  background-color: #FF9E53;
  color: #fff;
}

header .btn-get-started:hover {
  color: #fff;
}

