body {
  background-color: rgb(255, 255, 255);
  font-family: 'metropolis';
  color: #222222;
}
 @font-face /*perintah untuk memanggil font eksternal*/
{
    font-family: 'metropolis'; /*memberikan nama bebas untuk font*/
    src: url('./metropolis.regular.otf');/*memanggil file font eksternalnya di folder nexa*/
}

.btn-login {
  background-color: #071C4D;
  color: #fff;
}

.btn-login:hover {
  color: #fff;
}

.navbar{
  background-color: #fff;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.icon-cart{
  margin-right: 10px;
}
.title-icon{
  margin-left: 10px;
  margin-top: 7px;
}
.icon{
  width: 30px;
}
.button-login, .button-signup{
  border-radius: 24px;
  margin: 5px 3px 5px 3px;
}
.button-login{
  background-color: #DB3022;
  color: #fff;
}
.navbar-nav{
  margin-left: auto;
}
.search{
  border-radius: 40px;
}
.filter{
  margin-left: 5px;
  border: 1px solid #3f4042;
}
.filter:hover{
  border: 1px solid #393b41;
  background-color: aliceblue;
}
.card{
     box-shadow: 0 0px 5px rgb(0 0 0 / 0.2);
     border-radius: 5px;
}
.card-bag{
    margin-top: 110px;
}
.minus{
    border-radius: 100%;
}

.my-bag{
    margin-top: 100px;
}
.title-bag{
    font-weight: bold;
    margin-bottom: 20px;
}
.card-details {
  padding: 30px;
  border-radius: 11px;
}
.delete{
    color: #DB3022;
}
.checklist{
    margin-left:20px;
}
.img-products{
    border-radius: 3px;
     box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.table{border-bottom:none #fff !important;}
.btn-address{
  border-radius: 20px;
  border: 1px solid #9B9B9B;
  width: 50%;
}

.min{
    border-radius: 50%;
     background-color: #D4D4D4;
     border: 0;
}
.max{
    border-radius: 50%;
}
.one{
    margin-left: -500px !important;
}
.btn-checkout{
    background-color: #DB3022;
    border-radius: 40px;
    color: #fff;
}
.title-shoping{
    font-weight: 600;
font-size: 18px;
line-height: 16px;
color: #222222;
}
.total-price{
   color: #9B9B9B;
   font-weight: 500;
   line-height: 16px;
}
.total-shopping{
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  margin-top: 20px;
}
.footer{
  margin-top: 140px;
}
@media (max-width: 768px) {
          /* versi table */
   .post{
       font-size: 16px;
   }
}
@media (max-width: 576px) {
          /* versi mobile */
     .post{
       font-size: 10px;
   }
   .sub-post{
       font-size: 5px;
       margin-top: -100px !important;
   }
   .min,.max{
       width: 10px;
       height: 20px;
       border-radius: 50%;
       /* background-color: red; */
   }
   .icon-max{
       position: static;
       margin: -17px 0 0 -6px;
   }
   .icon-min{
       position: static;
	    margin: -17px 0 0 -7px;
   }
   .price{
       font-size: 10px;
   }
   .btn-address{
    width: 100%;
   }
      }