html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #fff;
  font-family: 'metropolis';
}
 @font-face /*perintah untuk memanggil font eksternal*/
{
    font-family: 'metropolis'; /*memberikan nama bebas untuk font*/
    src: url('../metropolis.regular.otf');/*memanggil file font eksternalnya di folder nexa*/
}
.h3{
    font-size: 18px;
    font-weight: bold;
    /* font-family:monospace */
}
.nav{
    margin: 0 18px 0 18px;
}
.costemer, .seler {
    border: 1px solid #9B9B9B;
    border-radius: 4px 0px 0px 4px;
    background-color: #fff;
    /* margin-left: 10px; */
    color: #9B9B9B;
}
.seler {
    border: 1px solid #9B9B9B;
    border-radius: 0px 4px 4px 0px;
  background-color: #fff;
  color: #9B9B9B;
}
.seler-login, .costemer-login{
    background-color: #DB3022;
    border-radius: 0 !important;
    color: #fff;
}
.seler-login{
    border-radius: 0px 5px 5px 0px;
}
.costemer:hover{
    background-color: #DB3022 ;
    color: #fff;
     border: 1px solid #9B9B9B;
}
.seler:hover{
    background-color: #DB3022 ;
     color: #fff;
      border: 1px solid #9B9B9B;
      border-radius: 0 5px 5px 0;
}
.header{
    padding: 0 15px 15px 15px;
}
.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.btn-sign{
    background-color: #DB3022;
    border-radius: 25px;
    color: #fff;
}
.btn-sign:hover{
    background-color: #cc2314;
     color: #fff;
}
.float-end{
    color: red;
}
.form-email, .form-password{
    height: 48px !important;
}
.register{
    color: #222222;
}
a{
    color: #cc2314;
    margin-left: 4px;
    cursor: pointer;
    text-decoration:none;
}