body {
  background-color: rgb(255, 255, 255);
  font-family: 'metropolis';
  color: #222222;
}
 @font-face /*perintah untuk memanggil font eksternal*/
{
    font-family: 'metropolis'; /*memberikan nama bebas untuk font*/
    src: url('../metropolis.regular.otf');/*memanggil file font eksternalnya di folder nexa*/
}

.btn-login {
  background-color: #071C4D;
  color: #fff;
}

.btn-login:hover {
  color: #fff;
}

.navbar{
  background-color: #fff;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.icon-cart{
  margin-right: 10px;
}
.title-icon{
  margin-left: 10px;
  margin-top: 7px;
}
.icon{
  width: 30px;
}
.button-login, .button-signup{
  border-radius: 24px;
  margin: 5px 3px 5px 3px;
}
.button-login{
  background-color: #DB3022;
  color: #fff;
}
.navbar-nav{
  margin-left: auto;
}
.search-input{
   border-radius: 50px;
   border-right: 0px solid rgb(255, 255, 255);
}
.search{
   border-radius: 50px;
  background-color: #fff !important;
}
.search{
  border-radius: 40px;
}
.filter{
  margin-left: 5px;
   border: 0.2px solid #9d9e9e;
  border-radius: 12px !important;
}
.filter:hover{
  border: 1px solid #393b41;
  background-color: aliceblue;
}
.card{
     box-shadow: 0 0px 5px rgb(0 0 0 / 0.2);
     border-radius: 5px;
}
.card-bag{
    margin-top: 110px;
}
.minus{
    border-radius: 100%;
}

.my-bag{
    margin-top: 100px;
}
.title-bag{
    font-weight: bold;
    margin-bottom: 20px;
}
.card-details {
  padding: 30px;
  border-radius: 11px;
}
.delete{
    color: #DB3022;
}
.checklist{
    margin-left:20px;
}

.customcheck input {
    position: relative;
    opacity: 0;
    cursor: pointer;
}
.customchek input {
    position: relative;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 10;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
}
.checkmak {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
}

.customcheck:hover input ~ .checkmark,.checkmak {
    background-color: #ccc;
}

.customcheck input:checked ~ .checkmark{
    background-color: #DB3022;
    border-radius: 5px;
}
.customcheck input:checked ~ .checkmak{
    background-color: #DB3022;
    border-radius: 5px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkmak:after {
    content: "";
    position: absolute;
    display: none;
}

.customcheck input:checked ~ .checkmark:after {
    display: block;
}
.customcheck input:checked ~ .checkmak:after {
    display: block;
}

.customcheck .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.customcheck .checkmak:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.img-products{
    border-radius: 3px;
     box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.check{
  margin-top: -10px !important;
  position: relative;
}
.check-select{
  margin-top: -3px !important;
  position: relative;
}
.table{border-bottom:none #fff !important;}
.select-all{
   height: 70px;
}

.min{
    border-radius: 50%;
     background-color: #D4D4D4;
     border: 0;
}
.max{
    border-radius: 50%;
}
.one{
    margin-left: -500px !important;
}
.btn-checkout{
    background-color: #DB3022;
    border-radius: 40px;
    color: #fff;
}
.title-shoping{
    font-weight: 600;
font-size: 18px;
line-height: 16px;
color: #222222;
}
.total-price{
   color: #9B9B9B;
   font-weight: 500;
   line-height: 16px;
}
.footer{
  margin-top: 140px;
}
@media (max-width: 768px) {
          /* versi table */
   .post{
       font-size: 16px;
   }
}
@media (max-width: 576px) {
          /* versi mobile */
    .nav-search{
    /* background-color: red; */
    margin: 20px 0px 3px -80px;
    width: 300px;
  }
  .filter{
    /* background-color: blue; */
    margin-left: -70px !important;
  }
  .filter img{
    margin-left: -5px;
  }
  .post{
       font-size: 10px;
   }
   .sub-post{
       font-size: 5px;
       margin-top: -100px !important;
   }
   .min,.max{
       width: 10px;
       height: 20px;
       border-radius: 50%;
       /* background-color: red; */
   }
   .icon-max{
       position: static;
       margin: -17px 0 0 -6px;
   }
   .icon-min{
       position: static;
	    margin: -17px 0 0 -7px;
   }
   .price{
       font-size: 10px;
   }
      }