body {
  background-color:#F5F5F5;;
  font-family: 'metropolis';
  color: #222222;
}
 @font-face /*perintah untuk memanggil font eksternal*/
{
    font-family: 'metropolis'; /*memberikan nama bebas untuk font*/
    src: url('../metropolis.regular.otf');/*memanggil file font eksternalnya di folder nexa*/
}

.btn-login {
  background-color: #071C4D;
  color: #fff;
}

.btn-login:hover {
  color: #fff;
}

.navbar{
  background-color: #fff;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.icon-cart{
  margin-right: 10px;
}
.title-icon{
  margin-left: 10px;
  margin-top: 7px;
}
.icon{
  width: 30px;
}
.button-login, .button-signup{
  border-radius: 24px;
  margin: 5px 3px 5px 3px;
}
.button-login{
  background-color: #DB3022;
  color: #fff;
}
.navbar-nav{
  margin-left: auto;
}
.search-input{
   border-radius: 50px;
   border-right: 0px solid rgb(255, 255, 255);
}
.search{
   border-radius: 50px;
  background-color: #fff !important;
}
.filter{
  margin-left: 5px;
  border: 1px solid #8E8E93;
  border-radius: 5px !important;
}
.filter:hover{
  border: 1px solid #393b41;
  background-color: aliceblue;
}
.card{
     box-shadow: 0 0px 5px rgb(0 0 0 / 0.2);
     border-radius: 5px;
}
.my-bag{
    margin-top: 100px;
}
.edit-profil{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
    margin-top: -8px;
}
.btn{
  border-radius: 50%;
}
.select-profil{
    background-color: #fff;
    height: 100vh;
    margin-top: -90px !important;
    /* margin-left: -100px !important; */
}
.profil-select{
    margin-top: 100px;
    /* margin-left: 80px; */
}
.profil-avatar{
    margin-top: 120px;
    /* margin-left: 40px; */
}
.btn-acount{
    background-color: #F36F45;
    border:  0px;
}
.btn-location{
    background-color: #456BF3;
    border:  0px;
}
.btn-mail{
    background-color: #F3456F;
    border:  0px;
}
.btn-acount:hover{
    background-color: #d66b4a;
    border:  0px;
}
.btn-location:hover{
    background-color: #4663ca;
    border:  0px;
}
.btn-mail:hover{
    background-color: #ec7591;
    border:  0px;
}
.caption-select{
    font-weight: 500;
font-size: 14px;
line-height: 24px;
}
.title-profil{
    font-weight: 600;
font-size: 20px;
line-height: 24px;
}
.text-form{
    font-weight: 500;
font-size: 14px;
line-height: 24px;
color: #9B9B9B;;
}
.btn-submit{
    border-radius: 16px;
    background-color: #DB3022;
    width: 80px;
    color: #fff;
    margin-left: 150px;
}
.btn-submit:hover{
 background-color: #db4a3d;
 color: #fff;
 border: 0;
}
.image-profil{
   border-right: #D4D4D4;
   border-color: #D4D4D4;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width: 0px;
}
.btn-select-profil{
   border: 1px solid #9B9B9B;
border-radius: 24px;
}
.select-avatar {
    margin-left: 5px;
    font-weight: 500;
font-size: 14px;
line-height: 20px;
}
.footer{
  margin-top: 140px;
}
@media (max-width: 576px) {
.text-form{
      text-align: justify !important;
}
.btn-submit{
    border-radius: 16px;
    background-color: #DB3022;
    width: 80px;
    color: #fff;
    margin-left: 10px;
}
.search-nav{
  /* width: 100% !important; */
  margin-left: -80px;
  margin-top: 10px;
  /* background-color: red; */
}
.filter{
   float: right;
    margin: 5px;
    width: 25%;
}
      }