body {
  background-color:#F5F5F5;;
  font-family: 'metropolis';
  color: #222222;
}
 @font-face /*perintah untuk memanggil font eksternal*/
{
    font-family: 'metropolis'; /*memberikan nama bebas untuk font*/
    src: url('../metropolis.regular.otf');/*memanggil file font eksternalnya di folder nexa*/
}

.btn-login {
  background-color: #071C4D;
  color: #fff;
}

.btn-login:hover {
  color: #fff;
}

.navbar{
  background-color: #fff;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.icon-cart{
  margin-right: 10px;
}
.title-icon{
  margin-left: 10px;
  margin-top: 7px;
}
.icon{
  width: 30px;
}
.button-login, .button-signup{
  border-radius: 24px;
  margin: 5px 3px 5px 3px;
}
.button-login{
  background-color: #DB3022;
  color: #fff;
}
.navbar-nav{
  margin-left: auto;
}
.search-input{
   border-radius: 50px;
   border-right: 0px solid rgb(255, 255, 255);
}
.search{
   border-radius: 50px;
  background-color: #fff !important;
}
.filter{
  margin-left: 5px;
  border: 0.2px solid #9d9e9e;
  border-radius: 12px !important;
}
.filter:hover{
  border: 1px solid #393b41;
  background-color: aliceblue;
}
.card{
     box-shadow: 0 0px 5px rgb(0 0 0 / 0.2);
     border-radius: 5px;
}
.my-bag{
    margin-top: 100px;
}
.edit-profil{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
    margin-top: -8px;
}
.btn{
  border-radius: 50%;
}
.select-profil{
    background-color: #fff;
    height: 1640px;
    margin-top: -50px !important;
    /* margin-left: -100px !important; */
}
.image,.image-text{
  margin-top: 70px;
}
.title-selling{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #222222;;
}
.btn-acount{
    background-color: #F36F45;
    border:  0px;
}
.btn-location{
    background-color: #456BF3;
    border:  0px;
}
.btn-mail{
    background-color: #F3456F;
    border:  0px;
}
.btn-acount:hover{
    background-color: #d66b4a;
    border:  0px;
}
.btn-location:hover{
    background-color: #4663ca;
    border:  0px;
}
.btn-mail:hover{
    background-color: #ec7591;
    border:  0px;
}
.photo-form{
    border: 1px dotted #D4D4D4;
    border-radius: 4px;
    height: 340px;
}
.btn-upload{
    border-radius: 15px;
    background-color: #ffffff;
    color: #9B9B9B;
    border: 1px solid #9B9B9B;
}
.garis{
    border: 1px solid #c4c3c3;
    display: block;
    margin-left: -15px;
    margin-right: -15px;
}
.description{
    height: 400px;
}
.btn-jual{
    border-radius: 20px;
    background-color: #DB3022;
    width: 100px;
    color: #fff;
    margin-left: 150px;
}
.btn-jual:hover{
  background-color: #d11605;
  color: #fff;
}
.footer{
  margin-top: 80px;
}
@media (max-width: 576px) {
.text-form{
      text-align: justify !important;
}
.btn-submit{
    border-radius: 16px;
    background-color: #DB3022;
    width: 80px;
    color: #fff;
    margin-left: 10px;
}
.search-nav{
  /* width: 100% !important; */
  margin-left: -80px;
  margin-top: 10px;
  /* background-color: red; */
}
.filter{
   float: right;
    margin: 5px;
    width: 25%;
}
.photo-form{
    border: 1px dotted #D4D4D4;
    border-radius: 4px;
    height: 1500px;
}
.upload{
    margin-top: 22px !important;
}
.select-profil{
    height: 335px;
    margin-top: -30px !important;
}
.image,.image-text{
  margin-top: 5px;
}
      }